{% extends 'base.html.twig' %}

{% block title %}CGU AliExprass ! {% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig", {'name':'Conditions Générales d\'Utilisation'}) }}

<div class="container">
    <h1 class="text-center"> Conditions Générales d'Utilisation du site AliExprass</h1>

    <p class="text-justify">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, dolor. Nostrum doloribus sit deleniti distinctio quos commodi exercitationem ab quae culpa! Culpa molestias ipsa corporis tempora assumenda totam in accusamus?
        Culpa a beatae eveniet id magnam, aspernatur, soluta assumenda expedita vel doloribus temporibus veniam quasi repellendus ducimus sint, natus aperiam? Perferendis ex porro ipsum dolorem in eius autem magni harum!
        Consequuntur corporis similique provident minima beatae aspernatur eius dolor ab dicta illum voluptate tempore qui culpa porro vitae molestiae consectetur tenetur, cumque dolorem laudantium enim iure? Est corporis nemo et.
        Libero sapiente sequi magni voluptatem explicabo eaque debitis quos soluta excepturi consequuntur? Dolorum ad ipsa ipsum reiciendis perspiciatis beatae modi velit nesciunt, non impedit alias nihil. Dolor aspernatur impedit tempora.
        Optio error ea animi officiis ratione numquam aperiam assumenda sunt? Exercitationem, architecto nesciunt? Repudiandae porro numquam totam, recusandae ad quam fugit neque molestiae illum autem dolores nostrum in magnam. Unde!
        Molestias, ipsum facere omnis quas quidem commodi accusantium laudantium sequi nihil qui accusamus minus? Ab, laudantium molestiae expedita autem dicta architecto, consequuntur dolorum pariatur error praesentium itaque officiis asperiores minima.
        Doloremque excepturi quo recusandae deserunt laborum animi odit optio! Quas veritatis voluptatibus nam sint accusamus est aspernatur expedita vero enim, sunt quos iste cum placeat! Deleniti architecto sit at tempora.
        Delectus esse ipsam perferendis atque, debitis adipisci. Blanditiis aut, dignissimos sit sint mollitia voluptatum tenetur incidunt! Fugit commodi animi dolor placeat alias fuga soluta porro! Placeat animi facilis repellendus veritatis?
        Tenetur voluptate consequatur sit cum nostrum maxime, nam facilis non illum possimus dolores dolore assumenda officiis fugiat. Quibusdam ex repellat laboriosam earum, dignissimos placeat cum aspernatur harum in impedit autem!
        Tenetur dolorum sunt odit, commodi consequuntur similique minima voluptate exercitationem perspiciatis rerum, ratione iste natus labore a laboriosam ea itaque eius distinctio ex repellat praesentium assumenda, magni sequi. Repudiandae, autem.
        Eius voluptatum non, consequatur ut quos iusto harum facilis reprehenderit quidem? Dicta cum et, in officiis natus sapiente! Quas odit incidunt nostrum autem mollitia iusto, quo pariatur. Aspernatur, ducimus porro?
        Assumenda blanditiis adipisci ratione, eum illum recusandae doloribus quisquam voluptates at voluptas quo velit dolorum sint exercitationem neque pariatur fugiat corrupti accusamus aperiam delectus numquam! Tenetur quod illo minus? Doloribus.
        Corrupti repudiandae laboriosam nulla corporis incidunt cupiditate, alias repellat sit saepe itaque numquam temporibus perspiciatis dolorem eveniet quaerat quia architecto ratione aspernatur aliquid non! Accusamus consectetur eos excepturi eveniet error?
        Odio neque eligendi laudantium tempore ut nesciunt tenetur quasi sequi alias in natus, quae possimus reprehenderit doloribus consequuntur velit ipsam, odit est, quidem labore hic ad accusantium? Nihil, veritatis facere!
        Quas obcaecati accusamus dolorem minima soluta amet, placeat impedit dolores sed, sint necessitatibus modi perferendis. Accusamus quibusdam nesciunt amet! Ab iusto tempora cumque libero adipisci, harum dolorum molestiae! Minus, eius.
        Quidem vitae incidunt voluptas ratione voluptate exercitationem cumque aperiam quae natus impedit, aliquid soluta consectetur nesciunt quisquam facere consequuntur? Culpa a porro veritatis sequi, quam nesciunt magni ut iure quod.
        Reprehenderit ex natus maxime? Voluptatibus aspernatur tempore iure assumenda rerum consequuntur, ea similique in, officia placeat ipsum rem corrupti fugit earum corporis? Aut beatae fuga, similique eius asperiores minus a?
        Molestias aspernatur labore officiis est mollitia non. Soluta dolor quidem optio repudiandae doloribus id impedit aliquam voluptatibus veniam incidunt nemo cumque fuga, quae, quas excepturi accusamus illo beatae! Temporibus, quae!
        Provident nam fugit distinctio similique odit! Molestiae voluptatum a ut asperiores quidem error velit saepe, dolores ducimus, accusamus unde provident veritatis necessitatibus alias iusto quas officiis exercitationem at? Facere, expedita.
        Accusamus optio eius repudiandae architecto explicabo cumque porro magnam perferendis aliquam, voluptatum, laborum quas doloremque. Sunt unde obcaecati dolorum? Aliquam minima reiciendis aliquid itaque, voluptatem sapiente eum dignissimos impedit? Deleniti.
    </p>
</div>
{% endblock %}
